body {
  background: url("images/b1.jpg") no-repeat center center fixed;
  background-size: cover;
}

.weather-container {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  padding: 2rem;
  margin-top: 3rem;
}

.info-card img {
  width: 40px;
  height: 40px;
}

.weather-body {
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.weather-body.d-none {
  opacity: 0;
}
